# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.env
venv/

# VSCode
.vscode/

# System
.DS_Store
Thumbs.db

# Model files
models/*.gguf
index.faiss
chunks.pkl

# Logs
*.log

chroma_db/
__pycache__
.gradio/
